

.blogHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 700;
}
.blogHeader > * {
font-size: 12px;
}
.blogHeader > :not(:last-child){
    color: #999;
}
.blogHeader span:before {
    content: "\02022";
    font-family: serif;
    padding: 0 0.3rem;
}